#w{
    color: red;
    background-color: yellow;
}
.e{
    color: black;
    background-color: bisque;
}
h3{
    color: black;
    background-color: aqua;
}
.q{
    color: darkred;
    background-color: darkgray;
}
h4{
    color: indigo;
    background: khaki;
}



   
